<ion-card>
  <ion-item>
    <ion-icon color={{cor}} name={{icone}} slot="start"></ion-icon>
    <ion-label><b>{{titulo}}</b></ion-label>
  </ion-item>

  <ion-card-content>

    <ion-row>

      <ion-col size="2">
        <ion-badge color={{cor}} mode="ios">{{num}}</ion-badge>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-text color={{cor}}>
          <p>{{valor}}</p>
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-card-content>
</ion-card>