<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <topo-login></topo-login>

  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon slot="start" name="mail" color="if"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="if"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item><br><br>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" shape="round" color="if" fill="clear">
      Enviar
    </ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/forgot']" color="medium" fill="clear">
        Esqueci minha senha
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/register']" color="medium" fill="clear">
        Criar usuário
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>