<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title (click)="logout()">
      I-Finanças
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime display-format="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="data"
      (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card tipo="pagar" num={{dadosContas.pagar.num}} valor={{dadosContas.pagar.valor}}>
  </dash-card>
  <dash-card tipo="receber" num={{dadosContas.receber.num}} valor={{dadosContas.receber.valor}}>
  </dash-card>
  <dash-card tipo="saldo" num={{dadosContas.saldo.num}} valor={{dadosContas.saldo.valor}} cor={{dadosContas.saldo.cor}}>
  </dash-card>

  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']" fill="outline" shape="round">
      Contas a pagar
    </ion-button>

    <ion-button [routerLink]="['/contas/receber']" fill="outline" shape="round">
      Contas a receber
    </ion-button>
  </div>

</ion-content>