<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form">

    <ion-list>

      <ion-label>Divisão</ion-label>
      <ion-item>
        <ion-label position="stacked">Dividendo</ion-label>
        <ion-input formControlName="dividendo" type="number" placeholder="Insira o valor do dividendo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Divisor</ion-label>
        <ion-input formControlName="divisor" type="number" placeholder="Insira o valor do divisor"></ion-input>
      </ion-item>


    </ion-list><br>

    <ion-button id="dividir" [disabled]="form.invalid" expand="block" (click)="dividir()">
      Efetuar divisão
    </ion-button>

    <p id="quociente" class="ion-text-center">{{quociente}}</p>

  </form>

</ion-content>