<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
  <form [formGroup]="contaForm" (submit)="registrarConta()">
    <ion-item>
      <ion-icon slot="start" name="person" color="if"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="document" color="if"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descreva a sua conta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="wallet" color="if"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Insira o valor da conta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Vencimento</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" pickerFormat="DDDD MMMM YYYY" formControlName="vencimento">
      </ion-datetime>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="tipo">

        <ion-list-header>
          <ion-label>Tipo de conta</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>A pagar</ion-label>
          <ion-radio slot="start" value="pagar"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>A receber</ion-label>
          <ion-radio slot="start" value="receber"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <br><br>
    <ion-button [disabled]="contaForm.invalid" type="submit" expand="block" shape="round" color="if" fill="clear">
      Enviar
    </ion-button>
  </form>
</ion-content>