<ion-content>
  <topo-login title="Criar um usuário"></topo-login>

  <form [formGroup]="registerForm" (submit)="createUser()">
    <ion-item>
      <ion-icon slot="start" name="person" color="if"></ion-icon>
      <ion-input formControlName="name" type="text" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="person" color="if"></ion-icon>
      <ion-input formControlName="lastName" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail" color="if"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="if"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="if"></ion-icon>
      <ion-input formControlName="confirmPassword" type="password" placeholder="Confirme a Senha"></ion-input>
    </ion-item>
    <br><br>

    <ion-button [disabled]="registerForm.invalid" type="submit" expand="block" shape="round" color="if" fill="clear">
      Enviar
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" color="medium" fill="clear">
        Voltar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>