<ion-content class="ion-padding">

  <topo-login title="Esqueci minha senha"></topo-login>

  <form [formGroup]="forgotForm" (submit)="recoverPass()">
    <ion-item>
      <ion-icon slot="start" name="mail" color="if"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autfocus="true"></ion-input>
    </ion-item><br><br>

    <ion-button [disabled]="forgotForm.invalid" type="submit" expand="block" shape="round" color="if" fill="clear">
      Enviar
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" color="medium" fill="clear">
        Voltar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>