#logo-div {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; //vertical
    justify-content: center; //horizontal

    h3{
        text-align: center;
    }

    img{
        margin-left: 30px;
    }
}