<div id="logo-div">
  <p> {{title ? title : ""}} </p>
  <img src="../../../../../assets/icon/IFnancas.png" alt="Icone" width="100px">
  <ion-text color="if">
    <h3> I-Finanças </h3>
  </ion-text>
</div>